* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #212933;
}



.form-auth {
  color: #FFF;
  width: 450px;
  height: 363px;
  background: #22282F;
  border: 0.5px solid #FFF;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0px 40px 40px 40px;

  input[type="text"] {
    height: 44px;
  }

  input[type="password"] {
    height: 44px;
  }

  button {
    height: 44px;
  }

  .three-party ul {
    margin-top: 15px;
    margin-bottom: 10px;
    display: inline-block;

    li {
      display: inline-block;
      margin-left: 20px;

      img {
        width: 44px;
      }
    }


  }

}

.form-login {
  height: 363px;
}

.form-register {
  height: 380px;
}

.label-form {
  font-size: 16px;
  display: inline-block;
  line-height: 2.0;
}

// 宽度小于800px 采用该css
@media all and (max-width: 1000px){
  .form-login {
    width: 80%;
    height: 500px;
  }

  .form-register {
    width: 80%;
    height: 520px;
  }
}

.list-none-style {
  list-style-type: none;
}

.btn-color-indigo {
  background-color: #38C3D4;
  &:hover {
    background-color: #1CCEE4;
  }
}
